@layer theme, base, components, utilities;
@layer base.preflight, base.defaults;

@import '@fontsource-variable/inter';

@import 'tailwindcss/theme.css' layer(theme);

@import 'tw-animate-css';
@import './shadcn_port.css';
@import './json_tree.css';

@custom-variant dark (&:is(.tanstack-form-devtools[data-theme=dark], .tanstack-form-devtools[data-theme=dark] *));

.tanstack-form-devtools {
  @import 'tailwindcss/preflight.css' layer(base.preflight);
}

@theme inline {
  --color-tab-indicator: var(--tab-indicator);
  --color-brand: var(--brand);
  --color-json-brace: var(--muted-foreground);
  --color-json-colon: var(--muted-foreground);
  --color-json-key: var(--json-key);
  --color-json-number: var(--json-number);
  --color-json-boolean: var(--json-boolean);
  --color-json-nil: var(--json-nil);
  --color-json-error: var(--json-error);
  --color-json-string: var(--json-string);
  --color-json-function: var(--json-function);
  --color-json-regex: var(--json-regex);
  --color-json-date: var(--json-date);
  --color-json-constructor: var(--json-constructor);
  --color-json-preview: var(--muted-foreground);
  --text-tiny: var(--text-tiny);

  --font-heading: var(--font-sans);
  --font-sans: 'Inter Variable', sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

.tanstack-form-devtools {
  --brand: oklch(79.171% 0.16292 82.439);
  --tab-indicator: oklch(0.923 0.003 48.717);
  --json-key: #0056a2ff;
  --json-number: #00855aff;
  --json-boolean: #0034faff;
  --json-error: #d82e3aff;
  --json-nil: #d82e3aff;
  --json-string: #b0831cff;
  --json-regex: #ac2e8fff;
  --json-date: #ac2e8fff;
  --json-function: #ac2e8fff;
  --json-constructor: #00855aff;

  --text-tiny: 0.625rem;

  --background: oklch(1 0 0);
  --foreground: oklch(0.147 0.004 49.25);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.147 0.004 49.25);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.147 0.004 49.25);
  --primary: oklch(0.852 0.199 91.936);
  --primary-foreground: oklch(0.147 0.004 49.25);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.97 0.001 106.424);
  --muted-foreground: oklch(0.553 0.013 58.071);
  --accent: oklch(0.97 0.001 106.424);
  --accent-foreground: oklch(0.216 0.006 56.043);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.923 0.003 48.717);
  --input: oklch(0.923 0.003 48.717);
  --ring: oklch(0.709 0.01 56.259);
  --chart-1: oklch(0.905 0.182 98.111);
  --chart-2: oklch(79.171% 0.16292 82.439);
  --chart-3: oklch(0.681 0.162 75.834);
  --chart-4: oklch(0.554 0.135 66.442);
  --chart-5: oklch(0.476 0.114 61.907);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0.001 106.423);
  --sidebar-foreground: oklch(0.147 0.004 49.25);
  --sidebar-primary: oklch(0.852 0.199 91.936);
  --sidebar-primary-foreground: oklch(0.147 0.004 49.25);
  --sidebar-accent: oklch(0.97 0.001 106.424);
  --sidebar-accent-foreground: oklch(0.216 0.006 56.043);
  --sidebar-border: oklch(0.923 0.003 48.717);
  --sidebar-ring: oklch(0.709 0.01 56.259);
}

.tanstack-form-devtools[data-theme='dark'] {
  --tab-indicator: oklch(0.232 0.004 49.25);
  --json-key: #8edefcff;
  --json-number: #b3cdaaff;
  --json-boolean: #3e9fd4ff;
  --json-error: #ff4448ff;
  --json-nil: #ff4448ff;
  --json-string: #d59077ff;
  --json-regex: #e174bcff;
  --json-date: #e174bcff;
  --json-function: #e174bcff;
  --json-constructor: #b3cdaaff;

  --background: oklch(0.147 0.004 49.25);
  --foreground: oklch(0.985 0.001 106.423);
  --card: oklch(0.216 0.006 56.043);
  --card-foreground: oklch(0.985 0.001 106.423);
  --popover: oklch(0.216 0.006 56.043);
  --popover-foreground: oklch(0.985 0.001 106.423);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.268 0.007 34.298);
  --muted-foreground: oklch(0.709 0.01 56.259);
  --accent: oklch(0.268 0.007 34.298);
  --accent-foreground: oklch(0.985 0.001 106.423);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.553 0.013 58.071);
  --sidebar: oklch(0.216 0.006 56.043);
  --sidebar-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.268 0.007 34.298);
  --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.553 0.013 58.071);
}

@layer base.defaults {
  .tanstack-form-devtools {
    @apply bg-background font-sans text-foreground text-base;
  }

  .tanstack-form-devtools,
  .tanstack-form-devtools * {
    @apply border-border outline-ring/50;
  }

  .tanstack-form-devtools button:not(:disabled),
  .tanstack-form-devtools [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

.tanstack-form-devtools {
  @import 'tailwindcss/utilities.css';
}

/*
Ark UI recommends disabling native scroll for this kinda stuff
https://ark-ui.com/docs/components/scroll-area#required-style
*/
.tanstack-form-devtools [data-scope='scroll-area'][data-part='viewport'] {
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

.tanstack-form-devtools
  [data-scope='scroll-area'][data-part='viewport']::-webkit-scrollbar {
  display: none;
}

.tanstack-form-devtools
  [data-scope='scroll-area'][data-part='scrollbar'][data-orientation='vertical']:not(
    [data-overflow-y]
  ),
.tanstack-form-devtools
  [data-scope='scroll-area'][data-part='scrollbar'][data-orientation='horizontal']:not(
    [data-overflow-x]
  ),
.tanstack-form-devtools
  [data-scope='scroll-area'][data-part='corner'][data-state='hidden'] {
  display: none;
}
