{
  "extends": "react-tools",
  "globals": {
    "describe": true,
    "it": true,
    "before": true,
    "after": true,
    "beforeEach": true,
    "afterEach": true,
    "window": true,
    "document": true
  }
}
