{
  "extends": "react-tools",
  "globals": {
    "describe": true,
    "it": true,
    "before": true,
    "after": true,
    "beforeEach": true,
    "afterEach": true,
    "window": true,
    "document": true
  },
  "rules": {
    "padded-blocks": 0,
    "jsx-a11y/label-has-for": 0
  }
}
