---
id: ValidationResult
title: ValidationResult
---

```ts
type ValidationResult = 
  | ValidValidationResult
  | ValidationErrorInput;
```

Defined in: [validation.public.ts:764](https://github.com/TanStack/form/blob/main/packages/form-core/src/validation.public.ts#L764)

One or more validation errors, or `null`, `undefined`, or `false` for success.
