---
id: ValidationResult
title: ValidationResult
---

# Type Alias: ValidationResult

```ts
type ValidationResult: 
  | undefined
  | false
  | null
  | ValidationError
  | ValidationError[];
```

## Defined in

[packages/form-core/src/types.ts:5](https://github.com/TanStack/form/blob/main/packages/form-core/src/types.ts#L5)
