@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600')
@import './assets/prism.css'
@import 'nib'

global-reset()

$fnt-open-sans = 'Open Sans', sans-serif
$react = #25d8fd

*
  box-sizing border-box

html
  min-height 100vh

body
  background: white
  font-family: $fnt-open-sans
  font-weight: 300

h1
  font-size: 2.5em
  color: white

a
  color: darken($react, 20%)
  font-weight: bold
  text-decoration: none

strong
  font-weight: bold

.logo
  width: 400px
  max-width: 100%

.container
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  min-height: 100vh
  padding-top: 20px

  .github-addon
    font-size: 20px
    padding: 10px

.viewport
  width:100%

.table-wrap
  width: 90%
  margin: auto
  padding: 10px
  border-radius: 5px
  box-shadow: 0 0 20px 0 alpha(black, .2)

.menu
  display:block
  margin: 0 10px 20px
  ul
    display:block
  li
    display:inline-block
  a
    display:block
    padding: 10px
    margin: 5px
    background: alpha(black, .4)
    color: white
    border-radius: 3px
    transition: all .2s ease-out
    &.active
    &:hover
      background: alpha(black, .9)

.FormInput
  display:inline-block

form > div
  margin-bottom: 1em

h6
  font-size: .8em
  font-weight: bold
  margin-bottom: .5em

label
  display:block

radiogroup
  padding: 10px
  border: 1px solid alpha(black, .1)
  display: inline-block
  border-radius: 3px

input
textarea
select
  font-size: 15px
  padding:5px
  border-radius: 3px
  border: 1px solid alpha(black, .2)
  margin-bottom: 2px
  .FormInput.-error &
    border-color: red

.FormError
  color: red
  font-size: 12px
  font-weight: bold
  margin: 5px

pre
  display:block
  font-family: monospace
  font-size: 15px
  line-height: 20px
  border-radius: 5px
  margin: 20px auto !important
  max-width: 90%

em
  font-style: italic

.nested
  padding: 10px
  > div
    background: alpha(black, .05)
    border-radius: 5px
    margin-bottom:5px
    padding: 10px
