name: autofix.ci # needed to securely identify the workflow

on:
  pull_request:
  push:
    branches: [main, alpha, beta]
  workflow_dispatch:
    inputs:
      generate-docs:
        description: 'Generate docs'
        required: false
        default: false
        type: boolean

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  autofix:
    if: ${{ !contains(github.event.head_commit.message, 'apply automated fixes') }}
    name: autofix
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
      - name: Setup Tools
        uses: tanstack/config/.github/setup@main
      - name: Fix formatting
        run: pnpm format
      - name: Generate Docs
        if: ${{ github.event_name == 'push' || github.event.inputs.generate-docs == true }}
        run: pnpm generate-docs
      - name: Apply fixes
        uses: autofix-ci/action@7a166d7532b277f34e16238930461bf77f9d7ed8
        with:
          commit-message: 'ci: apply automated fixes and generate docs'
